{% load static %} 
<!DOCTYPE html>
<html>
<head>
    <title>CellInsight</title>
    <link rel="stylesheet" href="{% static 'css/welcome_style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to CellInsight</h1>
        <nav></nav>
    </header>
    <div class="container">
        <div class="section left-section">
            {% block left_section %}{% endblock %}
        </div>
        <div class="section right-section">
            {% block right_section %}{% endblock %}
        </div>
    </div>
</body>
</html>
