{% extends 'base.html' %}

{% block left_section %}
    <a href="{% url 'welcome' %}">Back to Welcome Page</a>
    <h2>Preprocessing</h2>
    {% if not file_uploaded %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
    {% endif %}
{% endblock %}

{% block right_section %}
    {% if file_uploaded %}
        <h2>QC Values</h2>
        <form id="qc-form" method="post" action="{% url 'qc_process' %}">
            {% csrf_token %}
            {{ qc_form.as_p }}
            <input type="hidden" name="file_path" value="{{ file_path }}">
            <input type="hidden" name="file_format" value="{{ file_format }}">
            <button type="submit">See Violin Plot</button>
        </form>

        {% if violin_plot %}
            <h2>Violin Plot</h2>
            <img src="/{{ violin_plot }}" alt="Violin Plot">
           
            {% if show_mapcell_button %}
            <form id="mapcell-form" method="post" action="{% url 'mapcell_process' %}">
                {% csrf_token %}
                <input type="hidden" name="file_path" value="{{ file_path }}">
                <input type="hidden" name="file_format" value="{{ file_format }}">
                <input type="hidden" name="min_counts" value="{{ min_counts }}">
                <input type="hidden" name="min_genes" value="{{ min_genes }}">
                <input type="hidden" name="max_genes" value="{{ max_genes }}">
                <input type="hidden" name="pct_counts_mt" value="{{ pct_counts_mt }}">
                <button type="submit">Mapcell</button>
            </form>
            {% endif %}
            {% if show_umap_button %}
            <form id="umap-form" method="get" action="{% url 'umap_view' %}">
                <input type="hidden" name="umap_plot" value="{{ umap_plot }}">
                <button type="submit">Show UMAP</button>
            </form>
        {% endif %}
    {% endif %}
    {% else %}
        <p>Upload a file to begin preprocessing.</p>
    {% endif %}
{% endblock %}