{% extends 'base.html' %}

{% block left_section %}
    <p>Welcome to the Search Page</p>
    <h2>Navigation</h2>
    <ul>
        <li><a href="{% url 'welcome' %}">Back to Welcome Page</a></li>
        <!-- 다른 탐색 링크들을 여기에 추가할 수 있습니다. -->
    </ul>
{% endblock %}

{% block right_section %}
    <h2>Select a Search Option</h2>
    <ul>
        
        <li><a href="{% url 'markersearch' %}">Marker Search</a></li>
        <li><a href="{% url 'genesearch' %}">Gene Search</a></li>
    </ul>
{% endblock %}
